html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.align-items-center-md {
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 767px) {
    .vh-75-md {
        height: 75vh;
    }

    .align-items-center-md {
        align-items: unset;
    }
}
